---
import { cn } from '~/libs/utils';
import Layout from '~/layouts/layout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection, render } from 'astro:content';
import Giscus from '~/components/main/giscus.astro';
import PageHead from '~/components/main/page-head.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout className="flex flex-col space-y-12">
	<PageHead slot="head" title={post.data.title} description={post.data.description || undefined} />
	<article class={cn('space-y-4 xl:space-y-8 z-40 w-full rounded-sm')}>
		<header class="mb-4 flex justify-between lg:mb-6">
			<h1 class="text-4xl font-semibold">
				{post.data.title}
			</h1>
		</header>

		<Content />
	</article>

	<Giscus />
</Layout>
