---
import type { RichText } from '~/interfaces/notion/block.interface';
import '~/styles/notion-color.css';

export interface Props {
	richText: RichText;
}

const { richText }: Props = Astro.props;
---

{
	richText.annotation.color && richText.annotation.color !== 'default' ? (
		<span class={richText.annotation.color.replaceAll('_', '-')}>
			<slot />
		</span>
	) : (
		<slot />
	)
}
