---
import { Icon } from 'astro-icon/components';
import profile from '~/constants/profile';
---

<footer class="border-t p-10 text-sm text-neutral-400">
	<div class="flex flex-wrap items-center justify-between gap-4">
		<div class="space-x-4">
			<a class="hover:text-white" href="#"> Email signup </a>
			<a class="hover:text-white" href="#"> RSS feed </a>
			<a class="hover:text-white" href="#"> Bluesky </a>
			<a class="hover:text-white" href="#"> Buy me a coffee </a>
		</div>

		<div class="flex items-center gap-1">
			Made with <Icon name={`lucide:heart`} size={14} /> by {profile.name}
		</div>
	</div>
</footer>
