---
import { Icon } from 'astro-icon/components';
import { Button } from '../shared/button';
import { cn } from '~/libs/utils';
import { ButtonGroup } from '../shared/button-group';

interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<ButtonGroup className={cn('font-heading w-full', className)}>
	<Button id="dark-button" variant="outline" className="dark-button w-[50%] text-[0.6rem]">
		<Icon name="moon" class="size-4" />
		<span class="hidden self-center md:block">Dark</span>
	</Button>
	<Button id="light-button" variant="outline" className="light-button w-[50%] text-[0.6rem]">
		<Icon name="sun" class="size-4" />
		<span class="hidden self-center md:block">Light</span>
	</Button>
</ButtonGroup>

<script is:inline data-astro-rerun>
	(() => {
		const theme = (() => {
			const stored = localStorage?.getItem('theme') ?? '';
			if (['dark', 'light'].includes(stored)) return stored;
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
		})();

		document.documentElement.setAttribute('data-theme', theme);
		window.localStorage.setItem('theme', theme);

		if (theme === 'dark') {
			const darkBtn = document.querySelectorAll('.dark-button');
			darkBtn.forEach((element) => {
				element.disabled = true;
			});
		} else {
			const lightBtn = document.querySelectorAll('.light-button');
			lightBtn.forEach((element) => {
				element.disabled = true;
			});
		}
	})();
</script>

<script>
	function handleToggleClick(theme: 'dark' | 'light') {
		const element = document.documentElement;

		element.classList.add('[&_*]:transition-none');
		element.setAttribute('data-theme', theme);
		window.getComputedStyle(element).getPropertyValue('opacity');

		requestAnimationFrame(() => {
			element.classList.remove('[&_*]:transition-none');
		});

		localStorage.setItem('theme', theme);

		if (theme === 'dark') {
			const darkBtn = document.querySelectorAll('.dark-button') as NodeListOf<HTMLButtonElement>;
			darkBtn.forEach((element) => {
				element.disabled = true;
			});

			const lightBtn = document.querySelectorAll('.light-button') as NodeListOf<HTMLButtonElement>;
			lightBtn.forEach((element) => {
				element.disabled = false;
			});
		} else {
			const darkBtn = document.querySelectorAll('.dark-button') as NodeListOf<HTMLButtonElement>;
			darkBtn.forEach((element) => {
				element.disabled = false;
			});

			const lightBtn = document.querySelectorAll('.light-button') as NodeListOf<HTMLButtonElement>;
			lightBtn.forEach((element) => {
				element.disabled = true;
			});
		}
	}

	function initThemeToggle() {
		const lightBtn = document.querySelectorAll('.light-button') as NodeListOf<HTMLButtonElement>;

		lightBtn.forEach((element) => {
			element.addEventListener('click', () => handleToggleClick('light'));
		});

		const darkBtn = document.querySelectorAll('.dark-button') as NodeListOf<HTMLButtonElement>;
		darkBtn.forEach((element) => {
			element.addEventListener('click', () => handleToggleClick('dark'));
		});
	}

	initThemeToggle();

	document.addEventListener('astro:after-swap', () => {
		const storedTheme = localStorage.getItem('theme') || 'light';
		const element = document.documentElement;

		element.classList.add('[&_*]:transition-none');
		window.getComputedStyle(element).getPropertyValue('opacity');
		element.setAttribute('data-theme', storedTheme);

		requestAnimationFrame(() => {
			element.classList.remove('[&_*]:transition-none');
		});

		initThemeToggle();
	});
</script>
