---
import type { File } from '~/interfaces/notion/block.interface';
import Caption from './caption.astro';

interface Props {
	block: File;
}

const { block }: Props = Astro.props;

let filename = '';

try {
	if (block.mediaType === 'external') {
		var url = new URL(block.external.url);
		filename = decodeURIComponent(url.pathname.split('/').slice(-1)[0]);
	} else {
		filename = decodeURIComponent(block.file.url.split('/').slice(-1)[0]);
	}
} catch (err) {
	console.log(err);
}
---

<div class="file">
	<div>
		{
			filename && (
				<a
					href={block.mediaType === 'external' ? block.external.url : block.file.url}
					target="_blank"
					rel="noopener noreferrer"
				>
					<img
						src="https://www.notion.so/icons/document_gray.svg"
						alt="File icon in a file block"
					/>{' '}
					{filename}
				</a>
			)
		}
	</div>
	<Caption richTexts={block.caption} />
</div>

<style>
	.file {
	}

	.file a {
		display: block;
		padding: 0.5rem 0.2rem 0.4rem;
		border-radius: var(--radius);
		color: var(--fg);
		font-weight: 500;
		line-height: 1.4rem;
	}
	.file a:hover {
		background-color: #eee;
	}

	.file a img {
		width: 1.3rem;
		height: 1.3rem;
		vertical-align: sub;
	}
</style>
