---
import type { Image } from '~/interfaces/notion/block.interface';
import Caption from './caption.astro';

interface Props {
	block: Image;
}

const { block }: Props = Astro.props;

let image = '';
if (block.mediaType === 'external') {
	image = block.external.url;
} else if (block.mediaType === 'file') {
	image = block.file.url;
}
---

<figure class="image">
	{
		image && (
			<div>
				<div>
					<img src={image} alt="Image in a image block" loading="lazy" />
				</div>
				<Caption richTexts={block.caption} />
			</div>
		)
	}
</figure>

<style>
	.image {
		display: flex;
		margin: 0.2rem auto 0;
	}
	.image > div {
		margin: 0 auto;
	}
	.image > div > div {
	}
	.image > div > div img {
		display: block;
		max-width: 100%;
	}
</style>
