---
import type {
	Heading1,
	Heading2,
	Heading3,
	NumberedList
} from '~/interfaces/notion/block.interface';
import RichText from '~/components/shared/notion-blocks/rich-text.astro';
import NotionBlocks from '~/components/shared/notion-blocks/notion-block.astro';
import '~/styles/notion-color.css';

interface Props {
	list: NumberedList;
	level: number;
	headings: (Heading1 | Heading2 | Heading3)[];
}

const { list, level, headings } = Astro.props;
const { listItems: blocks } = list;

const listTypes = ['i', '1', 'a'] as const;
---

<ol type={listTypes[level % 3]}>
	{
		blocks.map((b) => (
			<li class={b.color.replaceAll('_', '-')}>
				{b.richTexts.map((richText) => (
					<RichText richText={richText} />
				))}

				{b.hasChildren && b.children && (
					<NotionBlocks blocks={b.children} level={level + 1} headings={headings} />
				)}
			</li>
		))
	}
</ol>

<style>
	ol {
		font-size: 1rem;
	}
</style>
