---
import { ModeWatcher } from 'mode-watcher';
import '../styles/app.css';
import Navbar from '~/components/navbar.svelte';
import { cn } from '~/libs/utils';

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body
		class={cn(
			'bg-background mx-auto flex min-h-[100dvh] min-h-screen max-w-2xl flex-col space-y-10 px-6 py-12 antialiased sm:py-24',
			className
		)}
	>
		<ModeWatcher client:load />
		<Navbar client:load />
		<slot />
	</body>
</html>
