---
import '~/styles/app.css';

import Head from '~/components/main/head.astro';
import { SITE } from '~/constants/global';
import { Footer } from '~/components/main/footer';
import { Sidebar } from '~/components/main/sidebar';
---

<!doctype html>
<html class="bg-background text-foreground scheme-light-dark" lang={SITE.lang ?? 'en'}>
	<Head>
		<slot name="head" />
	</Head>
	<body class="flex min-h-screen justify-center bg-neutral-950 text-neutral-200">
		<div class="flex w-full max-w-7xl">
			<header class="bg-background/50 sticky top-0 z-50 divide-y backdrop-blur-sm xl:divide-none">
				<slot name="subposts-navigation" />
				<slot name="table-of-contents" />
			</header>

			<Sidebar client:load />
			<main class="flex-1 border-l">
				<div class="p-10">
					<slot />
				</div>
				<Footer />
			</main>
		</div>
	</body>
</html>
