@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-neutral-500;
  }

  ::selection {
    @apply bg-emerald-300/10 text-emerald-300;
  }

  h1 {
    @apply text-primary;
  }

  :is(nav, img, button, input, label, textarea) {
    @apply select-none;
  }

  li {
    @apply list-none;
  }
}

.notion-page-no-cover {
  margin: unset !important;
}

.notion-title b {
  @apply font-normal text-4xl;
}

.notion-app {
  background: unset;
}

.notion-asset-wrapper-image,
.notion-page-cover-wrapper {
  @apply rounded-md overflow-hidden;
}

.notion-asset-wrapper-image img {
  @apply hover:scale-150;
}

.notion-page {
  @apply px-0;
}

.notion-title {
  @apply font-mono;
}

.notion-text {
  @apply font-poppins text-foreground;
}

.notion-full-page {
  @apply pb-0;
}

.notion-collection-view-tabs-row,
.notion-collection-header-title,
.notion-collection-group-title {
  @apply hidden;
}

.notion-gallery-grid {
  @apply border-0 gap-10;
}

.notion-collection-card {
  @apply rounded-xl border border-zinc-800 bg-transparent p-2;
}

.notion-collection-card-cover {
  @apply rounded-md border-0;
}

.notion-page-icon-inline {
  @apply hidden;
}

.notion-page-title-text {
  @apply font-mono text-xl;
}

.notion-collection-card-body {
  @apply gap-4;
}

body {
  -webkit-tap-highlight-color: transparent;
}

.notion-asset-wrapper-image img:hover {
  @apply scale-100;
}
