name: Sync Posts Everyday

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Create .env file
        run: |
          cat <<EOF > .env
          PROJECT_DATABASE_ID=${{ secrets.PROJECT_DATABASE_ID }}
          BLOG_DATABASE_ID=${{ secrets.BLOG_DATABASE_ID }}
          NOTION_KEY=${{ secrets.NOTION_KEY }}
          EOF
        shell: bash

      - name: Install dependencies
        run: bun install

      - name: Run generate script
        run: bun generate-project && bun generate-blog

      - name: Build the website
        run: bun run build

      - name: Cloudflare Deployment
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./dist --project-name=fahri-r-com
